# File Managed by Puppet

define servicegroup {
    servicegroup_name all
    alias          all
    # this seems not to work with servicegroups
    #members        *
}
define servicegroup {
    servicegroup_name uncategorized
    alias          uncategorized
}
